body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  opacity: 0;
  transform: translateY(-20px);
  animation: aparecer 1.5s ease-out forwards;
}

@keyframes aparecer {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.reloj {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('einstein.avif.jpg') no-repeat center/cover;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

.manecilla {
  transform-origin: 200px 200px;
}

@keyframes moverMinutos {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(360deg); 
  }
}

@keyframes moverHoras {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(360deg); 
  }
}

#minutos {
  animation: moverMinutos 10s linear infinite; 
}

#horas {
  animation: moverHoras 60s linear infinite; 
}

.mensaje {
  position: fixed;
  left: 57%;
  top: 50%;  
  transform: translateX(-100%); 
  background-color: white;
  color: black;
  padding: 12px 12px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
  pointer-events: none;
}

.reloj:hover .mensaje {
  opacity: 1;
  transform: translateX(0);  
}


